<div class="small-8 large-offset-2">
  <h2>Sign in</h2>
  <hr>
  
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :email, :class => 'right inline' %> 
      </div> <!-- class="small-3 columns" -->
      <div class="small-9 columns"> 
        <%= f.email_field :email, :autofocus => true %>
      </div>  <!-- class="small-9 columns" -->
    </div> <!-- class="row" --> 
    <div class="row"> 
      <div class="small-3 columns"> 
        <%= f.label :password, :class => 'right inline' %> 
      </div>  <!-- small-3 columns" -->
      <div class="small-9 columns"> 
        <%= f.password_field :password %> 
      </div> <!-- class="small-9 columns" -->
    </div> <!-- class="row" -->
    <% if devise_mapping.rememberable? -%> 
      <div class="small-9 columns small-offset-3"> 
        <%= f.check_box :remember_me %> <%= f.label :remember_me %> 
      </div> <!-- class="small-9 columns small-offset-3" -->
     <% end -%> <!-- if devise_mapping.rememberable? -->
    
     <div class="small-9 columns small-offset-3"> 
       <%= f.submit "Sign in", :class => 'button' %> 
     </div> <!-- class="small-9 columns small-offset-3" -->
     <div class="small-9 columns small-offset-3"> 
       <%= render "devise/shared/links" %> 
     </div> <!-- class="small-9 columns small-offset-3" -->
    </div> <!-- class="row" -->
  <% end %> <!-- form_for -->
</div> <!-- class="small-8 large-offest-2">
