<p id="notice"><%= notice %></p>

<h1>Releasing This Week:</h1>

<% @publishers.each do |pub| %>
  <h3><%= pub.name %></h3>
    <% if pub.name == "DC" %>
      <% pub.books.each do |dc| %>
        <%= link_to image_tag(root_url + "/books/" + dc.cover, size: "100x100"), dc %>
        <%= dc.title %>
      <%end %>
    <% elsif pub.name == "Marvel" %>
      <% pub.books.each do |marv| %>
        <%= marv.cover %>
        <%= marv.title %>
      <%end %>
    <% elsif pub.name == "Image" %>
      <% pub.books.each do |img| %>
        <%= img.cover %>
        <%= img.title %>
      <%end %>
    <% end %>
<% end %> 

