<p id="notice"><%= notice %></p>

<%# link_to "current_user_show", current_user %>

<div class="row">
  <div class="img">
    <%= image_tag(root_url+ "images/comics.png") %>
  </div>
  <h1><b>Releasing This Week:</b></h1>
  <br>
  <h2>12/9/15</h2>
</div>

  <% @publishers.each do |pub| %>
  <div class="row">
  <h3><b><u><%= pub.name %></u></b></h3>
  <hr>
  </div>
    <% if pub.name == "DC" %>
    <div class="row">
      <% pub.books.each do |dc| %>
        <div class="small-2 columns end">
          <div class="panel">
            <div class="thumbnail">
              <%= link_to image_tag(root_url + "images/" + dc.cover), dc %>
            </div><!-- class="thumbnail"-->
            <div class="container">
              <h6><%= dc.title %></h6>
            </div> <!-- class="container" -->
          </div> <!-- class="panel" -->
        </div> <!-- class="small-4 columns end" -->
      <%end %> <!-- pub.books.each do |dc| -->
    </div>
    <% elsif pub.name == "Marvel" %>
    <div class="row">
      <% pub.books.each do |marv| %>
        <div class="small-2 columns end">
          <div class="panel">
            <div class="thumbnail">
              <%= link_to image_tag(root_url + "images/" + marv.cover), marv %>
             </div><!-- class="thumbnail"-->
             <div class="container">
               <h6><%= marv.title %></h6>
             </div> <!-- class="container" -->
          </div> <!-- class="panel" -->
        </div> <!-- class="small-4 columns end" -->
      <%end %> <!-- pub.books.each do |marv| -->
    </div>
    <% elsif pub.name == "Image" %>
    <div class="row">
      <% pub.books.each do |img| %>
        <div class="small-2 columns end">
          <div class="panel">
            <div class="thumbnail">
              <%= link_to image_tag(root_url + "images/" + img.cover), img %>
             </div><!-- class="thumbnail"-->
             <div class="container">
               <h6><%= img.title %></h6>
             </div> <!-- class="container" -->
          </div> <!-- class="panel" -->
        </div> <!-- class="small-4 columns end" -->
      <%end %> <!-- pub.books.each do |img| -->
    </div>
    <% end %> <!-- if pub.name -->
  <% end %>  <!-- publishers.each -->
