<p id="notice"><%= notice %></p>

<h1>Releasing This Week:</h1>

<% @publishers.each do |pub| %>
  <h2><%= pub.name %></h2>
    <% if pub.name == "DC" %>
      <% pub.books.each do |dc| %>
        <%= link_to image_tag(root_url + "/images/" + dc.cover, size: "120x200"), dc %>
        <%= dc.title %>
      <%end %>
    <% elsif pub.name == "Marvel" %>
      <% pub.books.each do |marv| %>
        <%= link_to image_tag(root_url + "/images/" + marv.cover, size: "120x200"), marv %>
        <%= marv.title %>
      <%end %>
    <% elsif pub.name == "Image" %>
      <% pub.books.each do |img| %>
        <%= link_to image_tag(root_url + "/images/" + img.cover, size: "120x200"), img %>
        <%= img.title %>
      <%end %>
    <% end %>
<% end %> 

